<h1>Editing photographer</h1>

<%= render "form", photographer: @photographer %>

<br>

<div>
  <%= link_to "Show this photographer", @photographer %> |
  <%= link_to "Back to photographers", photographers_path %>
</div>
